.App {
  text-align: center;
}

body {
  background-color: #f0f8ff;
  color: #1e90ff;
}

.navbar-holder {
  margin: 0 0 40px 0;
  height: 80px;
  background-color: #1e90ff;
  color : white;
}

.navbar-title {
  padding-top: 20px;
  margin: 0;
  font-size: 40px;
}

.image-upload {
  width: 60px;
  height: 60px;
  background-color: white;
  background-image: url('./icons/image-icon.svg');
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.image-grid {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
}
